.App {
  text-align: center;
  /* background-color: rgb(233,5,23); */
}

#Title {
  text-align: center;
  font-family:fantasy;
  color: rgb(231, 255, 235);
  font-weight: 100;
  font-size: 50px;
  font-variant: small-caps;
  font-style: italic;
}

body {
  background-color: rgb(189, 171, 189);
}